// .flex-container
//     display: flex;
//     flex-direction: column;
//     justify-content: space-around;
//     padding: 0px;

// .flex-item 
//     justify-content: space-around;
//     padding: 20px;

form 
    padding: 20px;

.mybutton
    margin: 10px;

.uk-search-default
    width: 200px;

svg {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
    margin-right: 25px;
}
